@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

html,
body {
    height: 100%;
    background-color: #28282E;
    color: #FFFFFF;
    font-family: 'Montserrat';
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: auto;
    background-color: #28282E;
    color: #C5CADF;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.footer-item {
    padding: 20px 10px;
}
a {
    transition: color 0.2s;
    color: #C5CADF;
}
a:hover {
    color: #88C6FF;
}


#main-content-wrapper {
    background-size: contain!important;
    background: url("/img/content-bg.png") no-repeat center bottom;
}

#top-banner {
    margin-bottom: 140px;
    position: relative;
}
.top-banner-img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100vh;
}
#top-banner-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#top-banner-container {
    position: relative;
    height: 100%;
}
#roadmap-table {
    border: none;
    font-size: 20px;
}

#roadmap-table td {
    vertical-align: top;
    padding-bottom: 40px;
}
#roadmap-table td.marker {
    background: url("/img/roadmap-line.png");
    background-repeat: repeat-y;
    background-position: center;
}
#roadmap-table td.marker img {
    width: 30px;
    height: 30px;
}
#roadmap-table td.date {
    width: 130px;
    padding: 0 20px 0;
    vertical-align: top;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
}
#roadmap-table td.text {
    line-height: 30px;
}

header > nav.bg-dark {
    background: transparent!important;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
a.navbar-brand {
    font-size: 44px;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    background: rgba(63, 63, 63, 0.8);
    font-size: 22px;
}
.navbar-dark .nav-item {
    margin: 5px;
}

#download-wrap {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 100px;
    width: 460px;
    text-align: right;
}

.gray-btn, .navbar-dark .navbar-nav .nav-link.gray-btn {
    color: white;
    background: rgba(63, 63, 63, 0.8);
    padding: 0.5rem 1rem;
    transition: color,background-color 0.2s;
}
.gray-btn:hover, .navbar-dark .navbar-nav .nav-link.gray-btn:hover {
    background: #88C6FF;
    color: black;
}
#btn-download {
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
}
#top-banner-header {
    font-size: 44px;
}




.btn {
    border-radius: 0;
}
.btn.btn-primary {
    background: #88C6FF;
    color: black;
    border-color: #88C6FF;
}
.btn.btn-primary:hover {
    color: white;
    background: rgba(63, 63, 63, 0.8);
    border-color: rgba(63, 63, 63, 0.8);
}

.btn.btn-default {
    background: rgba(63, 63, 63, 0.8);
    color: white;
    border-color: rgba(63, 63, 63, 0.8);
}
.btn.btn-default:hover {
    background: #88C6FF;
    color: black;
    border-color: #88C6FF;
}

.modal-header {
    display: block;
    padding: 2rem;
}
.modal-header button.close {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    color: white;
    /* font-size: 2rem; */
}
.modal-header h2 {
    margin-bottom: 25px;
}
.modal-header p {
    font-size: 18px;
    margin-bottom: 10px;
}
.modal-body {
    padding: 2rem;
}
.modal-footer {
    padding: 2rem;
}
.modal-content {
    background-color: #202023;
    border-radius: 0;
}
.form-control {
    border-radius: 0;
    background-color: #202023;
    color: white;
}

#loginModal .modal-header {
    border-bottom: none;
}
#loginModal .modal-footer {
    border-top: none;
}
#loginModal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

#registerModal .modal-header {
    border-bottom: none;
}
#registerModal .modal-footer {
    border-top: none;
}
#registerModal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

#forgotModal .modal-header {
    border-bottom: none;
}
#forgotModal .modal-footer {
    border-top: none;
}
#forgotModal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.form-control:focus {
    border-radius: 0;
    background-color: #202023;
    color: white;
}

.forgot-password {
    flex-basis: 100%;
    text-align: right;
}
#login-form-submit {
    flex-basis: 100%;
    text-align: center;
    padding: 0.6rem 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.text-bold {
    font-weight: bold;
}

a.white-link {
    color: white;
}


.overed-input {
    margin-top: -24px;
}
.over-label {
    background: #202023;
    margin-left: 10px;
    padding: 5px;
    color: #A9ACB9;
}

#top-banner-video {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    background: transparent;
    max-height: 100vh;
}

#login-form-submit {
    flex-basis: 100%;
    text-align: center;
    padding: 0.6rem 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.btn.btn-primary.lighter {
    background: #88C6FF;
    color: black;
    border-color: #88C6FF;
}
/*
background: #88C6FF;

 */

.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
}
/*88c6ff*/

.custom-control-label::after {
    /*background: red 50% / 50% 50% no-repeat;*/
}

/*#signupform-privacy_accept {
    !* ...existing styles *!
    display: grid;
    place-content: center;
}

#signupform-privacy_accept::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #88c6ff;
}

#signupform-privacy_accept:checked::before {
    transform: scale(1);
}*/


/*
#signupform-privacy_accept {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

#signupform-privacy_accept:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 1px solid #dedede;
    border-radius: 2px;
}

#signupform-privacy_accept[type=checkbox]:before {
    background: #88c6ff;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: 3px 4px;
    position: absolute;
    left: 2px;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #88c6ff;
}

#signupform-privacy_accept[type=checkbox]:checked:before {
    content: '';
    position: absolute;
    top: 0px;
    opacity: 1;
    left: 0px;
    border: 1px solid #88c6ff;
    border-radius: 2px;
}*/
.custom-control-label::after {
    background: transparent;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    background: transparent;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
    background: #88c6ff;
    scale: 0.5;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #828282;
    background-color: transparent;
    background-size: 50%;
}


.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background: #88C6FF;
    border-color: #88C6FF;
}

#btn-download:hover {
    text-decoration: none;
}

.alert-danger {
    color: #dc3545;
    border-color: #dc3545;
    background: transparent;
    border-radius: 0;
}

.alert-warning {
    color: #856404;
    background-color: transparent;
    border-color: #ffeeba;
    border-radius: 0;
}

.submit-modal {
    flex-basis: 100%;
    text-align: center;
    padding: 0.6rem 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
}

#roadmap2-wrapper {
    position: relative;
    width: 100%;
    height: 275px;
    overflow: hidden;
    margin-bottom: 170px;
}
#roadmap2-big-wrapper {
    padding-top: 15px;
    user-select: none;
}
.roadmap2-item {
    /*position: relative;*/
    /*float: left;*/
    width: 280px;
    height: 260px;
    /*margin-right: 30px;*/
    padding: 30px;
    background: rgba(63, 63, 63, 0.45);
    font-size: 20px;
    line-height: 1.2;
}


.roadmap2-item .date {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    color: #88C6FF;
}

.roadmap2-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -15px;
}

.dropdown-menu {
    border-radius: 0;
    background: rgba(63, 63, 63, 0.8);
    border: none;
}

.was-validated .form-control:valid, .form-control.is-valid {
    background-color: #202023!important;
}

hr {
    border-top: 1px solid #ADB0C3;
}

@media only screen and (max-width: 539px) {
    .footer-item {
        width: 50%;
    }
    a.navbar-brand {
        font-size: 32px;
    }
    #top-banner-container {
        margin: 0;
        padding: 0;
    }
    #download-wrap {
        top: auto;
        bottom: 0;
        width: 100%;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    #top-banner-header {
        font-size: 28px;
        display: inline-block;
        width: 300px;
        margin: 0;
    }
    #btn-download {
        margin-top: 10px;
        font-size: 18px;
    }
}

#viewProductModal {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}
#viewProductModal .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

#viewProductModal .modal-content {
    height: 100%;
}